html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white !important;
}