html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#request-component {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: gainsboro !important;
}